# ! Specifically for folders
sandbox/*
exports/*
.idea/*

# ! Specifically for .typefiles
__pycache__/
*.csv  

# ! Specifically for individual files
data/transactions.json
financial_dashboard.py
*.db